services:
  weaviate:
    image: semitechnologies/weaviate:latest
    container_name: weaviate
    ports:
      - "8080:8080"
    environment:
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
    volumes:
      - weaviate_data:/var/lib/weaviate

  django:
    build: ../backend
    container_name: django
    environment:
      - OLLAMA_URL=${OLLAMA_URL}
      - WEAVIATE_URL=${WEAVIATE_URL}
      - DEBUG=${DEBUG}
    ports:
      - "8000:8000"
    depends_on:
      - weaviate

  frontend:
    build: ../frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - django

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - django

volumes:
  weaviate_data:
